.botones {
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


table, th, td {
    border: 2px solid;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

#foto1 {
  width: 150px;
  margin: 0 auto;
}

#fotos {
  width: 200px;
  margin: 0 auto;
}