<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Estadísticas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estadisticas.css')}}">  
    </head>
    <body>
        <h1>Estadísticas</h1>
        <h2>Grafico de línea</h2>
        <div id="grafico1" style="width: 80%; height: 400px; margin: 0 auto;"></div> 

        <h2>Grafico de torta</h2>
        <div id="grafico2" style="width: 80%; height: 400px; margin: 0 auto;"></div> 

        <h2>Grafico de barras</h2>
        <div id="grafico3" style="width: 90%; height: 400px; margin: 0 auto;"></div> 

        <br>
        
    <a href="{{ url_for('portada') }}" class="botones">Volver a la portada</a>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/estadisticas_lineas.js')}}"></script>
    <script src="{{ url_for('static', filename='js/estadisticas_torta.js') }}"></script>
    <script src="{{ url_for('static', filename='js/estadisticas_barras.js') }}"></script>
    </body>
</html>