<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Adopciones</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/listado.css')}}"> 
</head>
<body>

  <h1>Listado de Avisos de Adopción</h1>

  <table class="tabla_adopciones">
    <thead>
      <tr>
        <th>Fecha Publicación</th>
        <th>Fecha Entrega</th>
        <th>Comuna</th>
        <th>Sector</th>
        <th>Cantidad Tipo Edad</th>
        <th>Nombre</th>
        <th>Contacto</th>
        <th>Total Fotos</th>
        <th>Foto Ejemplo</th>
      </tr>
    </thead>
    <tbody>
      {% for aviso in avisos %}
      <tr class="clickable" data-url="{{ url_for('info_listado', aviso_id=aviso.id) }}">
        <td>{{ aviso.fecha_ingreso}}</td>
        <td>{{ aviso.fecha_entrega}}</td>
        <td>{{ aviso.comuna.nombre }}</td>
        <td>{{ aviso.sector }}</td>
        <td>{{ aviso.cantidad }} {{ aviso.tipo}} {{ aviso.edad }} {{ "meses" if aviso.unidad_medida == "m" else "años" }}</td>
        <td>{{ aviso.nombre }}</td>
        <td>
          {% if aviso.contactos %}
            <ul>
              {% for c in aviso.contactos %}
                <li>{{ c.nombre}}: {{ c.identificador }}</li>
              {% endfor %}
            </ul>
          {% else %}
            Sin contactos
          {% endif %}
        </td>
        <td>{{ aviso.fotos|length }}</td>
        <td>
          {% if aviso.fotos %}
            <img src="{{ url_for('static', filename='uploads/' + aviso.fotos[0].nombre_archivo) }}" alt="foto mascota">
          {% else %}
            Sin foto
          {% endif %}
        </td>
      </tr>
      {% endfor %}

      <div class="pagination-container">
        <div class="pagination">
          {% if page > 1 %}
            <a href="{{ url_for('listar_adopciones', page=page-1) }}">Anterior</a>
          {% endif %}

          <span>Página {{ page }} de {{ total_pages }}</span>

          {% if page < total_pages %}
            <a href="{{ url_for('listar_adopciones', page=page+1) }}">Siguiente</a>
          {% endif %}
        </div>
      </div>
    </tbody>
  </table>
  <script lang="javascript" src="{{ url_for('static', filename='js/listado.js') }}" ></script> 
</body>
</html>
